@import url('https://fonts.googleapis.com/css2? família=Open+Sans:wght@300;400;700&display=swap');

/* Cores para variaveis */
:root{
    --bg-gray: #ddd;
    --color-primary: #032541;
    --white: #fff;
    --text-gray: #4a4a4a;
    --text-light-gray: #aaa;
    --star-yellow: #FFBB3A;
    --white-gray:  #f2f8fd;
}
/* Global */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body {
    background-color: var(--bg-gray);
    background-image: linear-gradient(70deg, #161616,rgb(87, 139, 139));
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

header{
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}

/* Alinhar e centralizar os componentes da barra de navegacao */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: 0px;
    width: 100%;
}

nav a{
    font-size: 12px;
    font-weight: 400;
}
a, a:hover {
    text-decoration: none;
    color: unset;
}

main{
    margin: 0px;
    background-color: var(--white-gray);
}

.container-fluid{
    align-items: center;
    margin: 0 20px;
    justify-content: center;
}

li a{
    font-size: 20px;
    margin-right: 10px;
}

.d-flex{
    margin-left: 50px;
    border:0;
    width: 500px;
}

.d-flex button{
    color: var(--white); 
}

.d-flex button:hover{
    transition: all 0.5s;
    background-color: var(--color-primary);
    float:left; 
    transform: scale(1.2); 
}

.collapse{
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

.carousel-inner{
    width: 97%;
    height: 576px;
    margin: 0px auto 5px;
    display: flex;
    overflow: hidden;
    border-radius: 15px 15px;
    transition: all 0.4s;
}

.carousel slide{
    margin-top: 5px;
    background-color: #032541;
}

.carousel-item img{
    margin-top: 8px;
    border-radius: 15px 15px;
}

#dsmovie-card-list {
    padding: 10px 1px;
}

.dsmovie-card {
    width: 100%;
    border: var(--color-primary);
    box-shadow: 0 0 20px 0 darkgray;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card img {
    max-width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.dsmovie-card-descrition {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 20px 20px;
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    height: 190px;
    justify-content: space-between;
}

.dsmovie-card-descrition h3{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.dsmovie-card-description-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-card-description-bottom img{
    width: 22px;
}

.dsmovie-card-description-bottom h4{
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}

.dsmovie-card-description-bottom p{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-gray);
    margin-bottom: 10px;
}

.dsmovie-btn{
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}
.dsmovie-btn:hover{
    background-color: rgb(106, 106, 110);
    cursor: pointer;
}

footer{
    background-color: var(--white);
    box-shadow: 2px 0 1px 0 var(--color-primary);
}

.text-center{
    align-items: center;
    margin: 0;
}

.text-center img{
    margin-left: 2px;
    margin-right: 5px;
}

.btn{
    border: 0;
}

.mb-4 a{
    border-radius: 300px 300px 300px 300px;
}